@charset "UTF-8";
.t-wordPreview {
  text-decoration: none;
  max-width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: transparent;
  display: block;
  border-radius: 12px;
  opacity: 0.8;
  position: relative;
  transition: all 0.15s ease-out;
  padding: 1rem;
}
.t-wordPreview__image {
  max-width: 100%;
  border-radius: 12px;
}
.t-wordPreview__title {
  margin-top: 0.5rem;
  background: #fff;
  color: #4a5568;
  text-decoration: none;
  width: 100%;
  text-align: center;
  opacity: 0;
}
.t-wordPreview__title:hover, .t-wordPreview__title:focus, .t-wordPreview__title:active {
  text-decoration: none;
}
.t-wordPreview:hover, .t-wordPreview:focus, .t-wordPreview:active {
  text-decoration: none;
  opacity: 1;
  border-color: orangered;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  z-index: 10;
}
.t-wordPreview:hover .t-wordPreview__title, .t-wordPreview:focus .t-wordPreview__title, .t-wordPreview:active .t-wordPreview__title {
  opacity: 1;
}

.t-wordPreviewStatic {
  text-decoration: none;
  max-width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: transparent;
  display: block;
  border-radius: 12px;
  opacity: 0.8;
  position: relative;
  transition: all 0.15s ease-out;
  padding: 1rem;
}
.t-wordPreviewStatic__image {
  max-width: 100%;
  border-radius: 12px;
}
.t-wordPreviewStatic__title {
  margin-top: 0.5rem;
  background: #fff;
  color: #4a5568;
  text-decoration: none;
  width: 100%;
  text-align: center;
  opacity: 0;
}
.t-wordPreviewStatic__title:hover, .t-wordPreviewStatic__title:focus, .t-wordPreviewStatic__title:active {
  text-decoration: none;
}

.t-wordCollectionPreview {
  text-decoration: none;
  max-width: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: #a3c2d1;
  display: block;
  border-radius: 12px;
  position: relative;
  transition: all 0.15s ease-out;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  background-color: #fff;
}
.t-wordCollectionPreview__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.t-wordCollectionPreview__image {
  max-width: 31%;
  border-radius: 12px;
  border: 0;
  margin: 3%;
}
.t-wordCollectionPreview__title {
  margin-top: 0.5rem;
  background: #fff;
  color: #4a5568;
  text-decoration: none;
  width: 100%;
  text-align: center;
  opacity: 0.8;
  align-self: end;
  justify-self: end;
}
.t-wordCollectionPreview__title:hover, .t-wordCollectionPreview__title:focus, .t-wordCollectionPreview__title:active {
  text-decoration: none;
}
.t-wordCollectionPreview__wordCount {
  color: #a0aec0;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.t-wordCollectionPreview:hover, .t-wordCollectionPreview:focus, .t-wordCollectionPreview:active {
  text-decoration: none;
  opacity: 1;
  border-color: orangered;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  z-index: 10;
}
.t-wordCollectionPreview:hover .t-wordCollectionPreview__title, .t-wordCollectionPreview:focus .t-wordCollectionPreview__title, .t-wordCollectionPreview:active .t-wordCollectionPreview__title {
  opacity: 1;
  color: #000;
}

.w-successModal__content {
  padding: 3rem 1rem 3rem 1rem;
  border-radius: 25px;
}
.w-successModal__header {
  font-size: 37px;
  font-weight: bold;
  text-align: center;
}
.w-successModal__body {
  text-align: center;
  padding: 1rem;
}
.w-successModal__footer {
  text-align: center;
}
.w-successModal__footer .btn {
  border-radius: 30px;
}

.e-fullscreenToggle--expanded .fa-expand:before {
  content: "";
}
